include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include mt_metadata/utils *.yaml
recursive-include mt_metadata/timeseries/filters/standards *.json
recursive-include mt_metadata/timeseries/standards *.json
recursive-include mt_metadata/transfer_functions/tf/standards *.json
recursive-include mt_metadata/transfer_functions/io/emtfxml/metadata/standards *.json
recursive-include mt_metadata/transfer_functions/io/edi/metadata/standards *.json
recursive-include mt_metadata/transfer_functions/io/zfiles/metadata/standards *.json
recursive-include mt_metadata/transfer_functions/io/jfiles/metadata/standards *.json
recursive-include mt_metadata/transfer_functions/io/zonge/metadata/standards *.json
recursive-include mt_metadata/transfer_functions/processing/standards *.json
recursive-include mt_metadata/transfer_functions/processing/aurora/standards *.json
recursive-include mt_metadata/transfer_functions/processing/fourier_coefficients/standards *.json
recursive-include mt_metadata/features/standards *.json
recursive-include mt_metadata/data/mt_xml *.xml
recursive-include mt_metadata/data/stationxml *.xml
recursive-include mt_metadata/data/transfer_functions *.edi *.xml *.j *.zmm *.zss *.avg
