name: mt_metadata-docs
channels:
  # Don't change to pkgs/main, as it causes random timeouts in readthedocs
  - conda-forge
dependencies:
  - python>=3.10
  - ipykernel
  - ipython
  - jupyter_client
  - nbsphinx
  - numpy
  - scipy
  - pandas
  - obspy
  - xarray
  - matplotlib
  - pyproj>=3.4.0
  - typing_extensions>=4.0.0
  - setuptools
  - sphinx>=2.3
  - sphinx_rtd_theme>=0.4
  - sphinx-autoapi
  - PyYAML
  - pydantic>=2.0.0
  - autodoc_pydantic
  - pip
  - pip:
    - loguru
    - pydantic[email]>=2.0.0
    - autodoc_pydantic
