name: TestingInConda

on:
 push:
   branches:
     - '*'
 pull_request:
   branches:
    - '*'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
  # This ensures that only one job runs at a time for the same branch
  # and cancels any in-progress jobs if a new one is triggered.
jobs:
  setup-build:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }}) (${{ matrix.optionals}})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12"]
        optionals: ["", "obspy"]
    defaults:
      run:
        shell: bash -el {0}

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}

    - name: Install Env
      run: |
        python --version
        pip install pytest
        pip install pytest-cov
        pip install pytest-subtests
        pip install pytest-xdist[psutil]
    - name: Install Our Package
      run: |
        pip install -e .
        conda list

    - name: Install optionals
      run: |
        pip install -e .[${{ matrix.optionals }}]
        conda list
      if: ${{ matrix.optionals }}

    - name: Run Tests
      run: pytest --cov=./ --cov-report=xml --cov=mt_metadata tests/ -n auto

    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: false
        verbose: true
        flags: tests
